<h2>Concatenating JS to reduce requests</h2>

<p>
  ember-cli-inline-content allows you to inline the contents of any file into your HTML.
  This allows us to inline critical, above the fold styles, and other small JS and CSS
  snippets we may not want to fire off another request to our server for. It should be already
  installed in the repo, but disabled. If it is not installed, it can be installed by running:
</p>

{{#code-block}}
  ember install ember-cli-concat
{{~/code-block~}}

<p>
  Once installed, we want to enable concatenation for just our JS, and also mark it to be
  asynchronously loaded. This will keep our page from being held up from loading.
</p>

{{#code-block language='javascript'}}
  emberCliConcat: {
    js: {
      concat: process.env.EMBER_ENV === 'production',
      useAsync: process.env.EMBER_ENV === 'production'
    },
    css: {
      concat: false
    }
  },
{{~/code-block~}}