<h2>Inlining critical assets</h2>

<p>
  ember-cli-inline-content allows you to inline the contents of any file into your HTML.
  This allows us to inline critical, above the fold styles, and other small JS and CSS
  snippets we may not want to fire off another request to our server for. It should be already
  installed in the repo, but disabled. If it is not installed, it can be installed by running:
</p>

{{#code-block language='bash'}}
  ember install ember-cli-inline-content
{{~/code-block~}}

<p>
  Once installed, we want to inline our critical CSS, so the above the fold content is styled
  without extra requests for CSS.
</p>

