<h2>Concatenating JS to reduce requests</h2>

<p>
  <code><a href="https://github.com/sir-dunxalot/ember-cli-concat">ember-cli-concat</a></code>
  allows us to reduce the number of requests to our server to get JS files.
  This is not as important with HTTP/2, since we can do tons of simultaneous file requests, but reducing requests,
  within reason, can still be helpful for slower connections.
</p>

<p>
  The downside to concatenating, is now the entire JS payload is cached as one file.
  This makes it so that anytime we change any vendor or app JS, a new file needs to be loaded.
  If we did not do this, vendor and app code would be cached separately, and then we may not need to
  update those cached assets as often.
</p>

<p>
  We can also enable <code>async</code> loading of the single JS file, so our page isn't held up from rendering.
  Since the JS payload is generally one of the largest things that needs to be loaded, this will greatly improve loading times.
</p>

<h2>Exercise</h2>

{{#code-block}}
  ember install ember-cli-concat
{{~/code-block~}}

<p>
  Once installed, we want to enable concatenation for just our JS, and also mark it to be
  asynchronously loaded. This will keep our page from being held up from loading.
</p>

{{#code-block language='javascript'}}
  emberCliConcat: {
    js: {
      concat: process.env.EMBER_ENV === 'production',
      useAsync: process.env.EMBER_ENV === 'production'
    },
    css: {
      concat: false
    }
  },
{{~/code-block~}}

<p>We also need to replace our JS links in index.html with the new concatenated output.</p>

{{#code-block language='handlebars'}}
  \{{content-for 'concat-js'}}
{{/code-block}}