<h2>Removing jQuery</h2>

<p>
  Ember is actively working to make jQuery optional, but for now we need to complete a few extra manual steps to remove it.
</p>

<p>
  <code>ember-native-dom-event-dispatcher</code> is no longer needed on latest Ember,
  and <code>ember-maybe-import-regenerator</code> is already added to your package.json on latest Ember.
  <code>ember-native-dom-helpers</code> is also largely unnecessary for tests, thanks to the recent
  refactor of the default Ember test helpers.
</p>

<p>
  The only things we really need to do are remove <code>ember-ajax</code>, and use <code>ember-fetch</code> instead,
  as well as patch up some issues with fastboot and fetch.
</p>

<h2>Baseline</h2>

<p>Before we begin, let's use lighthouse to get the current metrics for our app.</p>

{{#code-block}}
  lighthouse http://localhost:4200/initial-load/removing-jquery --view
{{/code-block}}

<h2>Exercise</h2>

{{#code-block}}
  ember install ember-fetch
{{/code-block}}

<p>
  We then will want to remove <code>ember-ajax</code> from our <code>package.json</code> and run <code>yarn</code>
  to make sure we clean up the unused package.
</p>

<p>
  Create a file at <code>fastboot/initializers/ajax.js</code> that includes the following:
</p>

{{#code-block language='javascript'}}
  // fastboot/initializers/ajax.js

  export default {
    name: 'ajax-service',
    initialize() {
      // noop
      // This is to override Fastboot's initializer which prevents ember-fetch from working
      // https://github.com/ember-fastboot/ember-cli-fastboot/blob/master/fastboot/initializers/ajax.js
    }
  }
{{/code-block}}

<p>
  Then we can just set <code>vendorFiles: { 'jquery.js': null }</code> in our config to make sure we exclude jQuery from the bundle.
</p>

<p>
  To find old usages of jQuery easily, so you know where all the things you should remove are, you can enabled
  the <code>no-jquery</code> rule of <code>eslint-plugin-ember</code>. Since it is now included in Ember apps by default,
  we just need to add it to our <code>rules</code> in <code>.eslintrc.js</code>.
</p>

{{#code-block language='javascript'}}
  rules: {
    'ember/no-jquery': 'error'
  }
{{/code-block}}
