<h2>Tree Shaking</h2>

<p>
  ember-cli-tree-shaker enables tree shaking for your Ember app, but is very beta right now.
  That being said, it can still help us squeeze a few extra kb out of our build.
</p>

<h2>Baseline</h2>

<p>
  We should run a production build, to get our current bundle size, and run another one after enabling
  tree shaking, to see what sort of savings we get.
</p>

{{#code-block}}
  ember build -e production
{{/code-block}}

<h2>Exercise</h2>

{{#code-block}}
  ember install rwwagner90/ember-cli-tree-shaker#98eb60996c5b930353bb6f4c9fff0e5cd44eb4ef
{{/code-block}}

{{#code-block language='javascript'}}
  // ember-cli-build.js

  treeShaking: {
    enabled: true,
    include: [
      'modules/@html-next/vertical-collection/-debug/edge-visualization/debug-mixin.js',
      'modules/@html-next/vertical-collection/-debug/edge-visualization/visualization.js',
      'modules/@html-next/vertical-collection/-debug/utils/validate-css.js',
      'modules/@html-next/vertical-collection/-debug/utils/validate-rect.js',
      'modules/@html-next/vertical-collection/-debug/utils/validate-style.js',
      'modules/@html-next/vertical-collection/-private.js',
      'modules/@html-next/vertical-collection/components/vertical-collection/component.js',
      'modules/@html-next/vertical-collection/-debug/index.js',
      'ember-validators/format.js',
      'ember-validators/presence.js'
    ]
  }
{{/code-block}}