<h2>Ember Macro Benchmark</h2>

<p>
  Ember Macro Benchmark is another tool you can use to get a more fine grained view into the performance of
  your app and compare metrics between Ember versions. It takes quite a bit of time to setup, and takes a
  long time to run, so we will not go through the steps, but there is an excellent writeup
  at https://blog.201-created.com/you-can-only-change-what-you-can-measure-6be8826503a7.
</p>