<h2>Prember</h2>

<p>
  Prember allows us to render static HTML pages for each of our routes. This may or may not improve loading times much, but
  it is quite useful for situations in which you want the benefits of fastboot, but do not want the overhead of running a server,
  and just want to serve static files.
</p>