<h2>Vertical Collection</h2>

<h2>Exercise</h2>
<p>
  This table just renders 20,000 rows of content all at once. We can replace it with vertical-collection and
  improve the rendering performance.
</p>

<div class="table-wrapper">
  <table class="table table-striped">
    {{#vertical-collection
      rows
      bufferSize=5
      containerSelector=".table-wrapper"
      estimateHeight=36
      tagName="tbody" as |row index|}}
      <tr>
        <td>{{index}}</td>
        <td>{{row.name}}</td>
      </tr>
    {{/vertical-collection}}
  </table>
</div>

<p>
  We can simply switch out the <code>tbody</code> and <code>each</code> block with <code>vertical-collection</code>.
</p>

{{#code-block language="handlebars"}}
  \{{#vertical-collection
    rows
    bufferSize=5
    containerSelector=".table-wrapper"
    estimateHeight=36
    tagName="tbody" as |row index|}}
    &lt;tr&gt;
      &lt;td&gt;\{{index}}&lt;/td&gt;
      &lt;td&gt;\{{row.name}}&lt;/td&gt;
    &lt;/tr&gt;
  \{{/vertical-collection}}
{{/code-block}}